<!DOCTYPE suite SYSTEM "[https://testng.org/testng-1.0.dtd](https://testng.org/testng-1.0.dtd)" >
<suite name="git test" verbose="1" parallel="false"> <listeners>
    <listener class-name="io.qameta.allure.testng.AllureTestNg"/>
</listeners>

    <test name="get">
    <classes>
        <class name="org.git.GitOperationsTest"/>
    </classes>
    </test>

</suite>